apiVersion: v1
kind: Service
metadata:
  annotations: {}
  creationTimestamp: null
  labels: 
{{ include "pixelStreaming.labels" . | indent 4 }}
  name: {{ .Release.Name }}-infra
spec:
  ports:
    - name: "80"
      port: {{ .Values.frontend.port | default 80 }}
      targetPort: {{ .Values.frontend.port | default 80 }}
      protocol: TCP
    - name: "8888"
      port: {{ .Values.streamer.port | default 8888 }}
      targetPort: {{ .Values.streamer.port | default 8888 }}
      protocol: TCP
    - name: "8889"
      port: {{ .Values.sfu.port | default 8889 }}
      targetPort: {{ .Values.sfu.port | default 8889 }}
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ include "pixelStreaming.name" . }}
    app.name: "infra-deployment.yaml"
    app.kubernetes.io/instance: {{ .Release.Name }}
status:
  loadBalancer: {}
